.login {
    margin: 10vh auto;
    font-size: 16px;
    background-color: dodgerblue;
    height: 60vh;
    width: 50vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    min-height: 280px;
    min-width: 250px;
    border-radius: 3vh;
}
h1{
    margin: 0 auto 10px;
}
input{
    font-size: 16px;
    padding: 5px 5px;
    margin: 3px 0;
}
button{
    border-radius: 3px;
    border: none;
    background-color: darkslateblue; 
    padding: 5px 10px;   
}
.login>button{
    height: 40px;
    width: 70px;
    flex-basis: 30px;
    flex-shrink: 0;
    flex-grow: 0;
}
button:hover{
    background-color: darkturquoise;
}
label{
    font-size: 20px;
}
.errorLogin{
    display: block;
    color: red;
    font-size: 12px;
    margin-bottom: 10px;
}
.errorSpan{
    display: none;
}