.tasklist>h1{
    text-align: center;
    margin: 20px auto;
}
table>caption{
    font-size: 1.5em;
}
table{
    font-size: 1.3em;
    border-collapse: collapse;
    margin: 20px 5vw;
    width: 90vw;
}
td{
    padding: 3px 10px;
    border: darkgray 1px solid;
}
tbody>tr:nth-child(odd){
    background-color: cyan;
}
thead{
    background-color: brown;
}
thead>tr,tbody>tr:hover{
    cursor: pointer;
}
tbody>tr:hover{
    background-color: darkgrey;
}
span{
    font-size: 20px;
}
span:first-of-type{
    margin-left: 20px;
}
select, p{
    font-size: 16px;
    margin-left: 20px;
}
th[data-name='title'], th[data-name='date']{
    cursor: default;
}